--allman false
--commas inline
--header strip
--indent tab
--indentcase true
--nilinit insert
--nospaceoperators ...
--propertytypes explicit
--self insert
--xcodeindentation true
--wrap-collections before-first
--wrap-parameters after-first

--enable acronyms
--enable applicationMain
--enable blockComments
--enable braces
--enable duplicateImports
--enable elseOnSameLine
--enable environmentEntry
--enable fileHeader
--enable modifierOrder
--enable opaqueGenericParameters
--enable preferCountWhere
--enable spaceAroundBraces
--enable unusedPrivateDeclarations
--enable yodaConditions

--enable blankLinesAfterGuardStatements
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes

--enable redundantBreak
--enable redundantGet
--enable redundantLetError
--enable redundantNilInit
--enable redundantParens
--enable redundantSelf

--enable wrapArguments
--enable wrapConditionalBodies
--enable wrapLoopBodies
--enable wrapSingleLineComments

--disable blankLinesAtStartOfScope
--disable conditionalAssignment
--disable consecutiveSpaces
--disable enumNamespaces
--disable preferKeyPath
--disable redundantSelf
--disable swiftTestingTestCaseNames
--disable wrapMultilineStatementBraces
