--allman false
--commas inline
--header strip
--indent tab
--indentcase true
--nilinit insert
--nospaceoperators ...
--propertytypes explicit
--self insert
--xcodeindentation true

--enable acronyms
--enable applicationMain
--enable blankLinesAfterGuardStatements
--enable blankLinesAroundMark
--enable blankLinesAtEndOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable blockComments
--enable braces
--enable duplicateImports
--enable elseOnSameLine
--enable environmentEntry
--enable fileHeader
--enable modifierOrder
--enable opaqueGenericParameters
--enable preferCountWhere
--enable spaceAroundBraces
--enable wrapConditionalBodies

--enable redundantBreak
--enable redundantGet
--enable redundantLetError
--enable redundantNilInit
--enable redundantParens
--enable redundantSelf

--disable blankLinesAtStartOfScope
--disable conditionalAssignment
--disable consecutiveSpaces
--disable enumNamespaces
--disable preferKeyPath
--disable redundantSelf
--disable swiftTestingTestCaseNames
--disable wrapMultilineStatementBraces
